# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\sophomore_year\Data structure CC++\09Sort3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
